@page "/"

<PageTitle>BTC Price APP</PageTitle>

<h1>BTC Price APP</h1>

Live page shows live data that are fetched each 5 second from coindesk API. Data can be saved into InMemory Db.
Saved page loads saved data, that can be edited or deleted. 


